.kst-property-location-faq-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 60px 25px calc(60px - 2vw);
  width: 100%;
  height: auto;
  background: #1d1919;

  @media only screen and (max-width: 768px) {
    padding: 25px 3% 25px;
  }

  .kst-property-location-faq-section-header {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 16px 2vw;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: auto;
    color: #f8f4f1;
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 1px;

    @media only screen and (max-width: 768px) {
      width: fit-content;
      padding-bottom: 6px;
      margin-left: 0px;
      border-bottom: 3px solid #f8f4f1;
      font-size: 30px;
      line-height: 30px;
    }
  }

  .kst-property-location-faq-section-list {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: flex-start;

    .kst-property-location-faq-section-list-item {
      display: flex;
      flex-flow: column;
      padding-left: 2vw;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      max-width: 800px;
      height: auto;
      border-radius: 10px;
      overflow: hidden;
      transition: all 0.2s ease;

      &.is-open {
        background: #2c2727;

        .kst-property-location-faq-section-list-item-question-container {
          .kst-property-location-faq-section-list-item-toggle-icon {
            transform: rotate(180deg);
          }
        }

        .kst-property-location-faq-section-list-item-answer {
          display: flex;
        }
      }

      .kst-property-location-faq-section-list-item-question-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 76px;
        align-items: center;
        cursor: pointer;

        @media only screen and (max-width: 768px) {
          height: auto;
          padding-right: 10px;
        }

        .kst-property-location-faq-section-list-item-question {
          width: calc(100% - 6vw);
          position: relative;
          color: #f8f4f1;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 1px;
          padding: 16px 0;
        }

        .kst-property-location-faq-section-list-item-toggle-icon {
          position: absolute;
          top: 16px;
          right: 0;
          display: flex;
          width: 6vw;
          justify-content: center;
          align-items: center;
          object-fit: contain;
          transition: all 0.2s ease;

          @media only screen and (max-width: 768px) {
            position: relative;
            top: 0px;
          }

          i {
            color: #f8f4f1;
            font-size: 2.5vw;

            @media only screen and (max-width: 768px) {
              font-size: 5vw;
            }
          }
        }
      }

      .kst-property-location-faq-section-list-item-answer {
        display: none;
        padding: 0px 2vw 2vw 0vw;
        width: 100%;
        height: auto;
        color: #f8f4f1;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        transition: all 0.2s ease;

        @media only screen and (max-width: 768px) {
          line-height: 24px;
          letter-spacing: 1px;
          font-size: 18px;
          padding-bottom: 20px;
        }
      }
    }
  }
}
