#kst-main-dashboard-view {
  display: grid;
  grid-template-columns: 250px calc(100% - 250px);
  grid-template-rows: calc(100% - 50px);
  color: black;
  width: 100%;
  height: calc(100% - 50px);
  padding-top: 100px;
  background-color: darkblue;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding-top: 100px;
    height: auto;
    background: linear-gradient(180deg, #c5a880 20%, darkblue 95.04%);
    padding-top: 75px;
  }
}

.kst-main-dashboard-footer-gradient {
  height: 100px;
  background: linear-gradient(180deg, darkblue 20%, rgba(29, 25, 25, 1) 95.04%);
}
