#kst-list-property-page-how-it-works-section {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 140px 125px 140px;
  width: 100%;
  color: #fff;
  border-bottom: 1px solid hsla(26, 33%, 96%, 0.1);

  @media only screen and (max-width: 768px) {
    padding: 5% 3%;
  }

  .kst-list-property-page-how-it-works-section-header {
    display: flex;
    margin-bottom: 45px;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 1.5px;
    text-align: center;

    @media only screen and (max-width: 768px) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  .kst-list-property-page-how-it-works-section-steps {
    display: flex;
    flex-flow: column;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    .kst-list-property-page-how-it-works-section-sub-title {
      position: absolute;
      top: 0;
      left: -20%;
      display: flex;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 1.5px;
      width: 152px;
      padding-right: 3px;
      text-align: end;

      @media only screen and (max-width: 768px) {
        position: relative;
        left: unset;
        right: 0;
        margin-bottom: 20px;
      }
    }

    .kst-list-property-page-how-it-works-section-step {
      display: grid;
      grid-template-columns: 30% 70%;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 7px;
      width: 767px;

      @media only screen and (max-width: 768px) {
        display: flex;
        flex-flow: column;
        width: 100%;
        margin-bottom: 20px;
      }

      .kst-list-property-page-how-it-works-section-step-category {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
        width: 152px;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1px;
        text-align: end;

        @media only screen and (max-width: 768px) {
          width: 100%;
          justify-content: flex-start;
          font-size: 22px;
          line-height: 24px;
          font-weight: 400;
          letter-spacing: 1.75px;
          margin-bottom: 10px;
        }
      }

      .kst-list-property-page-how-it-works-section-step-numbered-section {
        display: flex;
        flex-flow: column;
        border-left: 7px solid green;

        @media only screen and (max-width: 768px) {
          border-left-width: 0px;
          border-top: 7px solid green;
          width: 100%;
        }

        .kst-list-property-page-how-it-works-section-step-numbered {
          display: grid;
          grid-template-columns: 120px calc(100% - 120px);
          margin: 20px 0;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 1.25px;

          @media only screen and (max-width: 768px) {
            grid-template-columns: 100%;
            line-height: 30px;
            margin-top: 5px;
            margin-bottom: 10px;
            letter-spacing: 1.75px;
            font-size: 20px;
          }

          span {
            margin-right: 15px;
            margin-left: 20px;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 1px;

            @media only screen and (max-width: 768px) {
              font-size: 20px;
              margin-top: 10px;
              margin-bottom: 10px;
              letter-spacing: 1.5px;
            }
          }
        }
      }
    }
  }
}
