.kst-dashboard-booking-order-details-section {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: calc(100% - 10px);
  border-radius: 5px;
  box-shadow: inset 0 0 2px 1px darkblue;
  padding: 20px;
  background-color: aliceblue;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    height: auto;
    padding: 10px;
  }

  .kst-dashboard-compact-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: space-between;

    &.no-wrap {
      flex-flow: row;
      flex-wrap: nowrap;
    }

    .kst-dashboard-compact-container-item {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      font-weight: 400;
      font-size: 15px;
      letter-spacing: 1px;
      color: darkblue;
      align-items: center;
      margin-top: 2px;

      @media only screen and (max-width: 768px) {
        width: 100%;
        word-break: break-all;
        text-wrap: wrap;
      }

      span {
        display: flex;
        color: goldenrod;
        box-shadow: inset 0 0 1px 2px goldenrod;
        border-radius: 5px;
        border: 1px solid black;
        background-color: black;
        padding: 1px 5px;
        margin-right: 3px;
        font-size: 14px;
        transition: all 150ms ease-in;

        &.kst-dashboard-toggle-button {
          cursor: pointer;

          &:hover {
            color: greenyellow;
            box-shadow: inset 0 0 1px 2px greenyellow;
          }
        }

        @media only screen and (max-width: 768px) {
          font-size: 16px;
          margin-right: 5px;
        }
      }

      .kst-dashboard-compact-container-item-toggle-menu {
        position: absolute;
        display: none;
        flex-flow: column;
        top: 27px;
        left: 0;
        border-radius: 5px;
        border: 1px solid goldenrod;
        background-color: black;
        z-index: 10;

        @media only screen and (max-width: 768px) {
          top: 29px;
          width: 100%;
        }

        .kst-dashboard-compact-container-item-toggle-menu-item {
          display: flex;
          padding: 3px 5px;

          .kst-dashboard-compact-container-item-toggle-menu-item-label {
            color: lightblue;
            margin-right: 5px;
          }

          .kst-dashboard-compact-container-item-toggle-menu-item-value {
            display: flex;

            .kst-dashboard-order-details-review-star {
              color: lightgrey;
              margin: 0 2px;
              cursor: pointer;

              &.rated {
                color: gold;
              }

              &:hover {
                color: lightblue;
              }
            }
          }
        }

        .kst-dashboard-order-details-the-review {
          width: 100%;
          padding: 3px;

          textarea {
            width: 100%;
            border-radius: 5px;
            padding: 5px;
            min-height: 100px;
          }

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            cursor: pointer;
            border-radius: 5px;
            padding: 2px;
            box-shadow: inset 0 0 1px 2px darkcyan;
            background-color: lightgrey;
            color: darkcyan;

            &:hover {
              box-shadow: 0 0 1px 2px darkgreen;
              color: darkgreen;
            }
          }
        }
      }
    }
  }
}
