.kst-dashboard-booking-order-details-section {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  border-radius: 13px 13px 5px 5px;
  box-shadow: inset 0 0 2px 1px darkgoldenrod;
  padding: 20px;
  background-color: aliceblue;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    height: auto;
    padding: 10px;
    border-radius: 5px;
  }

  .kst-dashboard-compact-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: space-between;

    &.no-wrap {
      flex-flow: row;
      flex-wrap: nowrap;
    }

    .kst-dashboard-compact-container-item {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      font-weight: 400;
      font-size: 15px;
      letter-spacing: 1px;
      color: darkblue;
      align-items: center;
      margin-top: 2px;

      @media only screen and (max-width: 768px) {
        width: 100%;
        word-break: break-all;
        text-wrap: wrap;
      }

      span {
        display: flex;
        color: goldenrod;
        box-shadow: inset 0 0 1px 2px goldenrod;
        border-radius: 5px;
        border: 1px solid black;
        background-color: black;
        padding: 1px 5px;
        margin-right: 3px;
        font-size: 14px;
        transition: all 150ms ease-in;

        &.kst-dashboard-toggle-button {
          cursor: pointer;

          div {
            margin-left: 2px;
          }

          &:hover {
            color: greenyellow;
            box-shadow: inset 0 0 1px 2px greenyellow;
          }
        }

        @media only screen and (max-width: 768px) {
          font-size: 16px;
          margin-right: 5px;
        }
      }

      .kst-dashboard-compact-container-item-toggle-menu {
        position: absolute;
        display: none;
        grid-template-columns: 1fr 1fr;
        top: 27px;
        left: 0;
        border-radius: 5px;
        border: 1px solid goldenrod;
        background-color: black;
        z-index: 10;

        @media only screen and (max-width: 768px) {
          grid-template-columns: 1fr;
          top: 29px;
          width: 100%;
          border-radius: 5px 5px 15px 15px;
        }

        .kst-dashboard-compact-container-item-toggle-menu-item {
          display: flex;
          padding: 3px 5px;
          grid-column: 1/2;
          width: 100%;

          @media only screen and (max-width: 768px) {
            flex-flow: column;
          }

          .kst-dashboard-compact-container-item-toggle-menu-item-label {
            color: lightblue;
            margin-right: 5px;
            font-size: 10px;

            @media only screen and (max-width: 768px) {
              font-size: 15px;
            }
          }

          .kst-dashboard-compact-container-item-toggle-menu-item-value {
            display: flex;

            .kst-dashboard-order-details-review-star {
              color: lightgrey;
              margin: 0 2px;
              cursor: pointer;

              &.rated {
                color: gold;
              }

              &:hover {
                color: lightblue;
              }
            }
          }
        }

        .kst-dashboard-order-details-the-review {
          width: 100%;
          padding: 3px;
          display: grid;
          grid-template-columns: 75% calc(25% - 5px);
          column-gap: 5px;
          grid-column: 1/3;
          box-sizing: border-box;

          @media only screen and (max-width: 768px) {
            grid-template-columns: 100%;
            padding: 3px 10px;
            row-gap: 5px;
          }

          textarea {
            width: 100%;
            border-radius: 5px;
            padding: 5px;
            min-height: 100px;
            resize: none;

            @media only screen and (max-width: 768px) {
              font-size: 18px;
            }
          }

          div {
            align-self: flex-end;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: fit-content;
            text-align: center;
            cursor: pointer;
            border-radius: 50px;
            font-weight: 500;
            padding: 10px 2px;
            box-shadow: inset 0 0 1px 2px darkcyan;
            background-color: lightgrey;
            color: darkcyan;

            &:hover {
              box-shadow: 0 0 1px 2px darkgreen;
              color: darkgreen;
            }
          }
        }
      }
    }
  }
}
