#kst-mobile-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  .kst-mobile-header-top {
    display: flex;
    width: 100%;

    .kst-mobile-header-menu-toggle-button {
      width: 75px;
      background-color: rgba(0, 0, 0, 0.789);
      cursor: pointer;

      .kst-mobile-header-menu-toggle-container {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        overflow: hidden;

        .kst-mobile-header-menu-toggle {
          position: absolute;
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;

          i {
            font-size: 45px;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2),
              // Subtle black shadow for depth
              0 0 6px rgba(218, 165, 32, 0.6),
              // Gold glow around text
              0 0 10px rgba(218, 165, 32, 0.4); // Softer extended glow
          }
        }
      }
    }

    .kst-mobile-header-home {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - 75px);
      background: rgba(29, 25, 25, 0.5);
      font-size: 30px;
      text-decoration: none;
      color: #b8860b;
      letter-spacing: 2px;
      text-shadow: 1px 1px black;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5),
        // Subtle black shadow for depth
        0 0 6px rgba(218, 165, 32, 0.6),
        // Gold glow around text
        0 0 10px rgba(218, 165, 32, 0.4); // Softer extended glow
    }
  }

  .kst-mobile-header-menu-container {
    flex: 1 1 auto;
    display: none;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;

    .kst-mobile-header-menu-container-contacts {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      .kst-mobile-header-menu-container-contact {
        color: whitesmoke;
        font-size: 17px;
        text-decoration: underline;
      }
    }

    .kst-mobile-header-menu-container-main-links {
      top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      .kst-mobile-header-menu-container-main-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 7px;
        margin-bottom: 7px;
        border: 2px solid #fff8e1;
        border-radius: 5px;
        width: calc(100% - 25px);
        color: #fff8e1;
        font-size: 25px;
        cursor: pointer;
      }

      .kst-mobile-header-menu-container-main-link-submenu {
        display: none;
        grid-template-columns: 1fr;
        row-gap: 15px;
        margin-top: 15px;
        margin-bottom: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-top: 1px solid whitesmoke;
        width: 100%;

        .kst-mobile-header-menu-container-main-link-submenu-item {
          display: flex;
          justify-self: center;
          color: #b8860b;
          text-decoration: none;
          font-size: 20px;
          border-radius: 5px;
          border-bottom: 1px solid goldenrod;
          padding: 2px 5px;
          letter-spacing: 0.5px;
        }
      }
    }

    .kst-mobile-header-menu-container-login-signup-links {
      position: absolute;
      bottom: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 50px);

      .kst-mobile-header-menu-container-dashboard {
        padding: 10px;
        background-color: black;
        border: 2px solid gold;
        box-shadow: inset 0 0 2px 3px goldenrod;
        border-radius: 5px;
        color: gold;
        font-size: 17px;
        letter-spacing: 2px;
        cursor: pointer;
      }

      .kst-mobile-header-menu-container-logout {
        padding: 5px;
        background-color: black;
        border: 2px solid darkorange;
        border-radius: 5px;
        color: darkorange;
        font-size: 20px;
        cursor: pointer;
      }

      .kst-mobile-header-menu-container-login {
        padding: 15px;
        background-color: black;
        border: 2px solid whitesmoke;
        border-radius: 5px;
        color: whitesmoke;
        font-size: 20px;
        letter-spacing: 2px;
        cursor: pointer;
      }

      .kst-mobile-header-menu-container-signup {
        padding: 15px;
        background: black;
        border: 2px solid darkcyan;
        border-radius: 5px;
        color: #b8860b;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
        cursor: pointer;
      }
    }
  }
}
