@keyframes sheen {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.kst-dashboard-overview-section {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 150px calc(100% - 155px);
  grid-template-rows: 100%;
  column-gap: 5px;
  width: 100%;
  padding: 10px;
  height: 100%;
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding: 0 0 5px;
  }

  .kst-dashboard-overview-rewards {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px calc(100% - 75px);
    box-shadow: inset 0 0 2px 3px #c5a880;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: black;

    @media only screen and (max-width: 768px) {
      margin: 0 0 15px;
      padding-top: 10px;
    }

    .kst-dashboard-overview-rewards-header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: black;
      box-shadow: inset 0 0 2px 3px #c5a880;
      border: 1px solid black;
      color: #c5a880;
      text-wrap: wrap;
      text-align: center;
      font-size: 22px;
      font-weight: 500;
      letter-spacing: 1px;

      @media only screen and (max-width: 768px) {
        font-size: 28px;
        font-weight: 700;
        color: #c5a880;
        letter-spacing: 1.5px;
      }
    }

    .kst-dashboard-overview-rewards-list {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: 100%;
      overflow-y: auto;

      @media only screen and (max-width: 768px) {
        align-items: center;
      }

      .kst-dashboard-overview-rewards-list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      .kst-dashboard-overview-rewards-list-empty {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-wrap: wrap;
        text-align: center;
        color: black;
      }
    }
  }

  .kst-dashboard-overview-order {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px calc(100% - 75px);
    box-shadow: inset 0 0 2px 3px #c5a880;
    border-radius: 15px;
    background-color: black;
    padding: 5px 10px 10px;
    box-sizing: border-box;

    @media only screen and (max-width: 768px) {
      grid-template-rows: 100px calc(100% - 100px);
      margin: 0 0 0;
      padding: 10px 10px 15px;
    }

    .kst-dashboard-overview-order-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: fit-content;
      height: 100%;
      border-radius: 15px;
      background-color: black;
      box-shadow: inset 0 0 2px 3px #c5a880;
      border: 1px solid black;
      color: #c5a880;
      text-wrap: wrap;
      text-align: center;
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 0 15px;

      @media only screen and (max-width: 768px) {
        justify-content: center;
        width: 100%;
        font-size: 28px;
        font-weight: 700;
        color: #c5a880;
        letter-spacing: 1.5px;
        padding: unset;
      }
    }

    .kst-dashboard-overview-order-list {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      width: 100%;
      height: 100%;
      margin-top: 5px;
      background: black;
      background-size: 400% 400%;
      animation: sheen 5s ease infinite;
      padding: 15px;
      border-radius: 5px;
      column-gap: 10px;

      @media only screen and (max-width: 768px) {
        grid-template-columns: 100%;
        row-gap: 10px;
        column-gap: unset;
        border-radius: 15px;
      }

      .kst-dashboard-overview-order-list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 300px;
        height: 100%;
        border-radius: 17px;
        border: 2px solid black;
        box-shadow: 0 0 3px 2px darkgoldenrod;
        background: linear-gradient(135deg, #d4af37, #f5c71a, #c79810);
        padding: 6px;
        overflow: hidden;
        justify-self: center;

        @media only screen and (max-width: 768px) {
          align-self: center;
          justify-self: center;
          width: calc(100% - 10px);
          max-width: unset;
          height: auto;
          margin-bottom: 5px;
          padding: 0;
        }
      }

      .kst-dashboard-overview-order-list-empty {
        grid-column: 1 / 4;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-wrap: wrap;
        text-align: center;
        color: black;
        font-size: 30px;
        letter-spacing: 2px;
      }
    }
  }
}
