.kst-book-now-form {
  position: sticky;
  top: 100px;
  display: flex;
  flex-flow: column;
  padding-top: 14px;
  background: white;
  border: 1px solid #d4d4d4;
  border-radius: 15px;
  overflow: visible;
  color: black;

  @media only screen and (max-width: 768px) {
    align-items: center;
  }

  .kst-book-now-form-close-button {
    display: none;
    flex-direction: row-reverse;
    width: 100%;
    padding-right: 3%;

    @media only screen and (max-width: 768px) {
      margin-bottom: 7px;
    }

    .kst-book-now-form-close-button-svg-icon-container {
      svg {
        cursor: pointer;
      }
    }
  }

  .kst-book-now-form-spaces-selection {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    box-shadow: inset 0 0 2px 3px whitesmoke;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      box-shadow: inset 0 0 1px 2px #1d1919;
    }

    @media only screen and (max-width: 768px) {
      width: calc(100% - 10px);
    }

    .kst-book-now-form-spaces-selection-selected {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 400;

      @media only screen and (max-width: 768px) {
        font-size: 20px;
        font-weight: 400;
      }
    }

    .kst-book-now-form-spaces-selections {
      position: absolute;
      display: none;
      flex-flow: column;
      box-shadow: inset 0 0 2px 3px #1d1919;
      border-radius: 5px;
      top: 33px;
      width: 100%;
      background-color: white;
      z-index: 10;
      padding: 5px 0;

      @media only screen and (max-width: 768px) {
        top: 40px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
      }

      .kst-book-now-form-spaces-selections-option {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin: 1px;
        width: calc(100% - 4px);
        margin: 2px;
        padding: 2px;
        cursor: pointer;

        @media only screen and (max-width: 768px) {
          font-size: 20px;
        }

        &:hover {
          box-shadow: inset 0 0 1px 2px #1d1919;
        }

        label {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }

  .kst-book-now-form-header {
    display: block;
    padding: 14px 16px 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    @media only screen and (max-width: 768px) {
      font-size: 18px;
      letter-spacing: 1px;
    }
  }

  .kst-book-now-form-discounts {
    display: block;
    background: #f8f4f1;
    padding: 40px 40px;

    @media only screen and (max-width: 768px) {
      font-size: 18px;
      letter-spacing: 1px;
    }
  }

  .kst-book-now-form-avg-nightly-price {
    display: flex;
    flex-flow: column;
    padding: 16px 16px 0;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    .kst-book-now-form-avg-nightly-price-header {
      display: block;
      font-weight: 400;
      font-size: 18px;
      line-height: 40px;

      span {
        margin-right: 5px;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
      }
    }

    .kst-book-now-form-avg-nightly-price-sub-text {
      margin-top: 4px;
      color: #aaa;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
    }
  }

  .kst-book-now-form-check-in-out-dates {
    display: flex;
    justify-content: flex-start;
    padding: 24px 16px 20px;
    width: 100%;
    z-index: 5;

    .kst-book-now-form-check-in-date {
      display: flex;
      flex-flow: column;

      @media only screen and (max-width: 768px) {
        align-items: center;
      }

      .kst-book-now-form-check-in-date-header {
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;

        @media only screen and (max-width: 768px) {
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 1.5px;
        }
      }

      .kst-book-now-form-check-in-date-button {
        height: 36px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        justify-content: center;
        border: 1px solid #d4d4d4;
        border-radius: 35px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;

        @media only screen and (max-width: 768px) {
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          padding: 10px 20px;
          height: auto;
        }
      }
    }

    .kst-book-now-form-check-out-date {
      display: flex;
      flex-flow: column;
      margin-left: 24px;

      @media only screen and (max-width: 768px) {
        align-items: center;
      }

      .kst-book-now-form-check-out-date-header {
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;

        @media only screen and (max-width: 768px) {
          font-size: 18px;
          line-height: 20px;
          letter-spacing: 1.5px;
        }
      }

      .kst-book-now-form-check-out-date-button {
        height: 36px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        justify-content: center;
        border: 1px solid #d4d4d4;
        border-radius: 35px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;

        @media only screen and (max-width: 768px) {
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          padding: 10px 20px;
          height: auto;
        }
      }
    }
  }

  .kst-book-now-form-have-pets {
    display: flex;
    padding: 0px 16px 20px;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    .kst-book-now-form-have-pets-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background: #fff;
      border: 2px solid #70c5c1;
      border-radius: 4px;
      overflow: hidden;
      cursor: pointer;

      &.enabled {
        background: #aad4d2;
      }

      i {
        color: #fff;
        font-size: 10px;
      }
    }

    .kst-book-now-form-have-pets-question {
      margin-left: 7px;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .kst-book-now-form-totals {
    display: flex;
    flex-flow: column;
    padding: 0 16px 27px;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    .kst-book-now-form-totals-subtotal {
      display: flex;
      justify-content: space-between;
      padding-bottom: 7px;
      width: 100%;

      .kst-book-now-form-totals-subtotal-label {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;

        @media only screen and (max-width: 768px) {
          font-size: 20px;
        }
      }

      .kst-book-now-form-totals-subtotal-number {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;

        @media only screen and (max-width: 768px) {
          font-size: 18px;
        }
      }
    }

    .kst-book-now-form-totals-taxes-fees {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .kst-book-now-form-totals-taxes-fees-label {
        display: flex;
        align-items: center;
        cursor: pointer;

        .kst-book-now-form-totals-taxes-fees-label-text {
          margin-right: 4px;
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;

          @media only screen and (max-width: 768px) {
            font-size: 20px;
          }
        }

        .kst-book-now-form-totals-taxes-fees-label-toggle {
          top: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 250ms ease-in;
          transform: rotate(-90deg);

          i {
            font-size: 9px;

            @media only screen and (max-width: 768px) {
              font-size: 15px;
            }
          }
        }
      }

      .kst-book-now-form-totals-taxes-fees-number {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;

        @media only screen and (max-width: 768px) {
          font-size: 18px;
        }
      }
    }

    .kst-book-now-form-totals-taxes-fees-expanded {
      display: none;
      flex-flow: column;
      justify-content: flex-start;
      width: 100%;
      transition: all 250ms ease-in;
      padding-top: 10px;

      .kst-book-now-form-totals-taxes-fees-expanded-item {
        display: flex;
        justify-content: space-between;
        padding: 5px 5px 2px;
        margin-bottom: 10px;
        width: 100%;
        color: #878787;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        .kst-book-now-form-totals-taxes-fees-expanded-item-label {
          @media only screen and (max-width: 768px) {
            font-size: 20px;
            letter-spacing: 1px;
          }
        }

        .kst-book-now-form-totals-taxes-fees-expanded-item-number {
          @media only screen and (max-width: 768px) {
            font-size: 18px;
          }
        }
      }
    }

    .kst-book-now-form-totals-due {
      display: flex;
      justify-content: space-between;
      padding-top: 12px;
      width: 100%;
      font-size: 14px;
      line-height: 14px;

      .kst-book-now-form-totals-due-label {
        font-weight: 500;

        @media only screen and (max-width: 768px) {
          font-size: 22px;
        }
      }

      .kst-book-now-form-totals-due-number {
        font-weight: 400;

        @media only screen and (max-width: 768px) {
          font-size: 20px;
        }
      }
    }
  }

  .kst-book-now-form-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 32px);
    height: 44px;
    margin: 0 16px 16px;
    background: #aad4d2;
    color: #000;
    border: 1px solid #000;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.5px;
    opacity: 0.5;
    cursor: not-allowed;

    &.enabled {
      opacity: 1;
      cursor: pointer;
    }

    @media only screen and (max-width: 768px) {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .kst-book-now-form-check-in-out-dates-calendar {
    position: absolute;
    top: 5px;
    right: 60px;
    display: none;
    width: auto;
    height: auto;
    z-index: 5;

    @media only screen and (max-width: 768px) {
      right: unset;
      margin: 0 3%;
      width: calc(100% - 6%);
    }
  }
}
