.kst-property-page-overview-info {
  display: flex;
  flex-flow: column;
  width: 100%;

  .kst-property-page-overview-info-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 1px;

    @media only screen and (max-width: 768px) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  .kst-property-page-overview-info-snapshots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    @media only screen and (max-width: 768px) {
      grid-template-columns: 100%;
    }

    .kst-property-page-overview-info-snapshot {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .kst-property-page-overview-info-about-the-space {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 25px;

    .kst-property-page-overview-info-about-the-space-title {
      display: block;
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
    }

    .kst-property-page-overview-info-about-the-space-summary {
      display: block;
      width: 100%;
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 1px;
    }
  }

  .kst-property-page-overview-info-spaces-section {
    box-sizing: border-box;
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;

    .kst-property-page-overview-info-spaces-title {
      box-sizing: border-box;
      display: block;
      margin-bottom: 7px;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
    }

    .kst-property-page-overview-info-spaces {
      box-sizing: border-box;
      display: flex;
      flex-flow: column;
      width: 100%;

      .kst-property-page-overview-info-space {
        box-sizing: border-box;
        display: flex;
        flex-flow: column;
        width: fit-content;
        max-width: 100%;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        box-shadow: inset 0 0 1px 1px whitesmoke;

        .kst-property-page-overview-info-space-title {
          box-sizing: border-box;
          display: flex;
          padding: 7px 5px 4px 5px;
          border-radius: 5px;
          border-bottom: 1px solid whitesmoke;
          border-left: 1px solid whitesmoke;
          font-size: 17px;
          font-weight: 300;
          margin-bottom: 7px;
          height: fit-content;
          width: fit-content;
        }

        .kst-property-page-overview-info-space-displays {
          box-sizing: border-box;
          display: flex;
          width: 100%;
          overflow: auto;
          overflow-y: hidden;

          .kst-property-page-overview-info-space-display {
            box-sizing: border-box;
            display: flex;
            flex-flow: column;
            width: 300px;
            min-width: 300px;
            margin: 3px 5px;

            .kst-property-page-overview-info-space-display-title {
            }

            .kst-property-page-overview-info-space-display-img {
              position: relative;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              align-items: center;
              padding-bottom: 100%;
              border-radius: 5px;
              overflow: hidden;
              margin: 7px 0;

              img {
                position: absolute;
                align-self: center;
                justify-self: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .kst-property-page-overview-info-space-display-description {
              box-sizing: border-box;
              display: flex;
              padding: 3px;
              font-size: 13px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }

  .kst-property-page-overview-info-features {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: flex-start;

    .kst-property-page-overview-info-features-header {
      display: block;
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
    }

    .kst-property-page-overview-info-features-amenities-summary {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 20px;
    }

    .kst-property-page-overview-info-features-workstation-summary {
      width: 100%;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 20px;
    }

    .kst-property-page-overview-info-features-workstation-list {
      display: flex;
      flex-flow: column;

      .kst-property-page-overview-info-features-workstation-list-item {
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
      }
    }

    .kst-property-page-overview-info-features-amenities-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 28px;
      margin-top: 30px;
      width: 100%;

      @media only screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }

      .kst-property-page-overview-info-features-amenities-list-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .kst-property-page-overview-info-features-amenities-list-item-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          font-size: 20px;
          object-fit: contain;
          overflow: hidden;
        }

        .kst-property-page-overview-info-features-amenities-list-item-name {
          display: block;
          margin-left: 17px;
          text-transform: capitalize;
          font-weight: 500;
          font-size: 14px;
          line-height: 30px;
        }
      }
    }
  }
}
